.App {
  text-align: center;
}
.head{
  background-position-y: 46%;
  height: 400px;
  font-size: 100px;
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 20%;
}
.head2{
  display: inline-flex;
}






